.footer {
  padding: 0 4rem;
  display: flex;
  justify-content: flex-end;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    display: block;
    margin-left: 1.5rem;
  }
}